h1, h2, h3, h4, h5, h6, p, a, span, strong, div, form, select, option, textarea, button {
    font-family: 'Montserrat', sans-serif; }
        
        header, main, footer, aside, nav, figure, figcaption, article { display: block;}
        
        h1, h2, h3, h4, h5, h6, p {margin: 0; }
        
        body { margin: 0 !important;}
html {scroll-behavior: smooth;}

aside#menu-movil.abajo { width: 100%; height: 10vh; position: fixed; top: 0; right: 0; z-index: 9999; margin: 0; float: none; background: #3c468ff5; transition: 0.7s;}
aside#menu-movil.abajo a#logo {width: 25%; height: 10%; position: fixed; top: 0; left: 0; z-index: 999; margin: 0; float: none; background: transparent; transition: 0.7s;}
aside#menu-movil.abajo a#logo img#vec {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: flex; transition: 0.7s;}
aside#menu-movil.abajo a#logo img#log {width: 60%; height: 65%; top: 20%; left: 9%; position: relative; image-rendering: auto; transition: 0.7s;}
aside#menu-movil.abajo nav { width: 100%; height: 100%; position: relative; top: 0; left: 0; right: 0; padding: 0 0px 0 0vh; background: #ffffff00; transition: 0.7s;}
aside#menu-movil.abajo nav :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}
aside#menu-movil.abajo nav a {width: auto; height: auto; margin: 0 27px 0px 0px; top: 23px; left: 105vh;  position: relative; color: #ffffff; font-style: normal; font-weight: 500; text-decoration: none; transition: 0.7s;}
aside#menu-movil.abajo nav a :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}


aside#menu-movil { width: 100%; height: 10vh; position: relative; top: 0; right: 0; z-index: 9999; margin: 0; float: none;}
aside#menu-movil a#logo {width: 33%; height: 10%; position: relative; top: 0; left: 0; z-index: 999; margin: 0; float: none; background: transparent;}
aside#menu-movil a#logo img#vec {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: none;}
aside#menu-movil a#logo img#log {width: 15%; height: 62%; top: 21%; left: 2%; position: relative; image-rendering: auto;}
aside#menu-movil nav { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; padding: 0 0px 0 0vh; background: #80808000;}
aside#menu-movil nav :hover {opacity: 0.7; transition: all 0.2s ease-out;}
aside#menu-movil nav a {width: auto; height: auto; margin: 0 27px 0px 0px; top: 23px; left: 105vh;  position: relative; color: rgb(0, 0, 0); font-style: normal; font-weight: 500; text-decoration: none}
aside#menu-movil nav a :hover {opacity: 0.7; transition: all 0.2s ease-out;}



main { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }

main section#titu {width: 100%; height: 20%; position: relative; z-index: 9999; margin: 0 auto;}
main section#titu article {width: 100%; height: 100%; }
main section#titu article p {font-size: 12px; font-weight: 300; line-height: 32px; padding: 0 0 0 6px; font-style: normal;}
main section#titu article h2 { position: relative; text-align: center; font-style: normal; font-weight: 500; font-size: 24px; line-height: 32px; }
main section#titu article h1 { width: auto; height: auto; position: relative; font-style: normal; font-weight: 400; font-size: 14px; line-height: 32px; margin: 0 0 0 20%; }

main section#formu {width: 100%; height: 80vh; position: relative; margin: 14px auto; }
main section#formu form{width: 60%; height: 100%; margin: auto;}

main section#formu form label { font-style: normal; font-weight: 500; font-size: 14px; line-height: 32px; color: rgba(0, 0, 0, 0.43);}
main section#formu form input { position: relative;}

main section#formu form label#tip { width: auto; position: relative; display: block; z-index: 999; height: 20px; text-align: center; margin: 10px 0 10px 0;}
main section#formu form hr { width: 63%; height: auto; position: relative; left: 0;}
main section#formu form div#div-0 {width: 62%; height: auto; position: relative; left: 19.5%;
}

main section#formu form div#div-1 {width: 100%; height: auto; position: relative; left: 0;}
main section#formu form label#t-departamento {position: relative; }
main section#formu form input#i-departamento { margin: 0px 20px 0 0;;
}
main section#formu form label#t-ciudad {margin: 0 8px 0 0;}
main section#formu form input#i-ciudad {position: relative;
}


main section#formu form div#div-2 { width: 100%; height: 28%; position: relative; left: 0;}
main section#formu form div label#t-nombre {margin: 0 38px 0px 0px;}
main section#formu form div input#i-nombre {margin: 0 14px 30px 0px;;
}
main section#formu form div label#t-apellido {margin: 0 0px 10px 0px;}
main section#formu form div input#i-apellido { margin: 0 0px 30px 0px;
}
main section#formu form div label#t-direccion {margin: 0 35px 0px 0px;}
main section#formu form div input#i-direccion {margin: 0 14px 30px 0px;
}
main section#formu form div label#t-telefono {margin: 0 6px 0px 0px;}
main section#formu form div input#i-telefono {margin: 0 0px 30px 0px;
}
main section#formu form div label#t-correo {margin: 0 55px 0px 0px;}
main section#formu form div input#i-correo {margin: 0 0px 30px 0px;
}

main section#formu form label#t-caso {position: relative; }

main section#formu form div#div-3 {width: 100%; height: auto; position: relative; left: 0;}

main section#formu form div#d-enviar { width: 10%; height: 6%; position: relative; top: -7%; left: 66%;}
main section#formu form div input#i-enviar {border-width: 1px; padding: 6px 16px; border-radius: 5px;
}

main section#final {position: relative; width: 100%; height: 33vh; left: 0; top: 0px; 
background: #3c468f;}
main section#final article {width: 100%; height: 50%; position: relative; }
main section#final article a {padding: 0 2px 0 13vh; position: relative; top: 50%; left: 175px; text-decoration: none; color: #ffffff; font-size: 1em; font-weight: 400;}
main section#final article hr {width: 84%; height: 1px; position: relative; margin: 0 auto 24px; float: none; border: none; background: rgb(255, 255, 255); opacity: 0.5; top: 129%;}
main section#final article p {padding: 0 2px 0 7vh; position: relative; top: 127%; left: 0px; text-decoration: none; color: #ffffff; font-size: 0.8em; font-weight: 300;}