h1, h2, h3, h4, h5, h6, p, a, span, strong, div, form, select, option, textarea, button {
    font-family: 'Montserrat', sans-serif; }
        
        header, main, footer, aside, nav, figure, figcaption, article { display: block;}
        
        h1, h2, h3, h4, h5, h6, p {margin: 0; }
        
        body { margin: 0 !important;}

html {scroll-behavior: smooth;}


aside#menu-movil { width: 100%; height: 10vh; position: relative; top: 0; right: 0; z-index: 9999; margin: 0; float: none;
}
aside#menu-movil a#logo {width: 33%; height: 10%; position: relative; top: 0; left: 0; z-index: 999; margin: 0; float: none; background: transparent;
}
aside#menu-movil a#logo img#vec {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: none;
}
aside#menu-movil a#logo img#log {width: 15%; height: 62%; top: 21%; left: 2%; position: relative; image-rendering: auto;
}
aside#menu-movil nav { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; padding: 0 0px 0 0vh; background: #80808000;
}
aside#menu-movil nav :hover {opacity: 0.7; transition: all 0.2s ease-out;
}
aside#menu-movil nav a {width: auto; height: auto; margin: 0 27px 0px 0px; top: 23px; left: 105vh;  position: relative; color: rgb(0, 0, 0); font-style: normal; font-weight: 500; text-decoration: none
}
aside#menu-movil nav a :hover {opacity: 0.7; transition: all 0.2s ease-out;}

aside#menu-movil.abajo { width: 100%; height: 10vh; position: fixed; top: 0; right: 0; z-index: 9999; margin: 0; float: none; background: #3c468ff5; transition: 0.7s;}
aside#menu-movil.abajo a#logo {width: 25%; height: 10%; position: fixed; top: 0; left: 0; z-index: 999; margin: 0; float: none; background: transparent; transition: 0.7s;}
aside#menu-movil.abajo a#logo img#vec {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: flex; transition: 0.7s;}
aside#menu-movil.abajo a#logo img#log {width: 60%; height: 65%; top: 20%; left: 9%; position: relative; image-rendering: auto; transition: 0.7s;}
aside#menu-movil.abajo nav { width: 100%; height: 100%; position: relative; top: 0; left: 0; right: 0; padding: 0 0px 0 0vh; background: #ffffff00; transition: 0.7s;}
aside#menu-movil.abajo nav :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}
aside#menu-movil.abajo nav a {width: auto; height: auto; margin: 0 27px 0px 0px; top: 23px; left: 105vh;  position: relative; color: #ffffff; font-style: normal; font-weight: 500; text-decoration: none; transition: 0.7s;}
aside#menu-movil.abajo nav a :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}


main section#titu {width: 100%; height: 60vh; position: relative; z-index: 999;}
main section#titu article {width: 100%; height: 100%; position: relative;}
main section#titu article h1 { text-align: center; font-size: 3em; font-weight: 400; color: #3c468f; margin: 7px;}
main section#titu article hr {width: 40%; height: 1px; position: relative; margin: 0 auto 24px; float: none; border: none; background: rgb(0, 0, 0); opacity: 0.5;}
main section#titu article img {width: 51%; height: 76%; position: relative; z-index: auto; display: block; margin: auto;}

main { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }

main section#lec-1 {width: 100%; height: 42vh; position: relative; z-index: 999; margin: 20px auto 10px; background: cornsilk;}
main section#lec-1 article {width: 50%; height: 100%;}
main section#lec-1 article h1 {text-align: center; font-size: 2em; font-style: normal; font-weight: 400; padding: 27px 0 10px 0;}
main section#lec-1 article p { width: 70%; height: auto; text-align: center; margin: auto;
}

main section#lec-2 {width: 100%; height: 42vh; position: relative; z-index: 999; background: cornsilk; margin: 10px auto 10px;}
main section#lec-2 article {width: 50%; height: 100%;}
main section#lec-2 article h1 {text-align: center; font-size: 2em; font-style: normal; font-weight: 400; padding: 27px 0 10px 0;}
main section#lec-2 article p {width: 70%; height: auto; text-align: center; margin: auto;}

main section#lec-3 {width: 100%; height: 42vh; position: relative; z-index: 999; background: cornsilk; margin: 10px auto 10px;}
main section#lec-3 article {width: 50%; height: 100%;}
main section#lec-3 article h1 {text-align: center; font-size: 2em; font-style: normal; font-weight: 400; padding: 27px 0 10px 0;}
main section#lec-3 article p {width: 70%; height: auto; text-align: center; margin: auto;}


main section#final {position: relative; width: 100%; height: 33vh; left: 0; top: 0px; 
    background: #3c468f;}
    main section#final article {width: 100%; height: 50%; position: relative; }
    main section#final article a {padding: 0 2px 0 13vh; position: relative; top: 50%; left: 175px; text-decoration: none; color: #ffffff; font-size: 1em; font-weight: 400;}
    main section#final article hr {width: 84%; height: 1px; position: relative; margin: 0 auto 24px; float: none; border: none; background: rgb(255, 255, 255); opacity: 0.5; top: 129%;}
    main section#final article p {padding: 0 2px 0 7vh; position: relative; top: 127%; left: 0px; text-decoration: none; color: #ffffff; font-size: 0.8em; font-weight: 300;}