h1, h2, h3, h4, h5, h6, p, a, span, strong, div, form, select, option, textarea, button {
    font-family: 'Montserrat', sans-serif; }
        
        header, main, footer, aside, nav, figure, figcaption, article { display: block;}
        
        h1, h2, h3, h4, h5, h6, p {margin: 0; }
        
        body { margin: 0 !important;}

html {scroll-behavior: smooth;}


aside#menu-movil { width: 100%; height: 10vh; position: absolute; top: 0; right: 0; z-index: 9999; margin: 0; float: none;
}
aside#menu-movil a#abrir { display: none;}
aside#menu-movil a#cerrar { display: none;
}
aside#menu-movil img {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: none;}
aside#menu-movil nav { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; padding: 0 0px 0 0vh; background: #80808000;}
aside#menu-movil nav :hover {opacity: 0.7; transition: all 0.2s ease-out;}
aside#menu-movil nav a {width: auto; height: auto; margin: 0 27px 0px 0px; top: 23px; left: 105vh;  position: relative; color: #333; font-style: normal; font-weight: 500; text-decoration: none}
aside#menu-movil nav a :hover {opacity: 0.7; transition: all 0.2s ease-out;
}
header {width: 18%; height: 8%; position: fixed; top: 0; left: 0; z-index: 9999; margin: 0; float: none; background: #ffffff00; 
}
header a {  width: 100%; height: 100%; display: block; position: relative; 
margin: 11px 0 11px 15px; float: left; transition: all 0.3s ease-out; 
}
header a img { width: 100%; height: 100%; display: block; }
header a :hover {opacity: 0.7; transition: all 0.3s ease-out; }
#menu-movil.abajo nav a :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}



aside#menu-movil.abajo { width: 100%; height: 10vh; position: fixed; top: 0; right: 0; z-index: 9999; margin: 0; float: none; background: #3c468ff5; transition: 0.7s;
}
aside#menu-movil.abajo nav { width: 100%; height: 100%; position: relative; top: 0; left: 0; right: 0; padding: 0 0px 0 0vh; background: #ffffff00; transition: 0.7s;}
aside#menu-movil.abajo nav :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}
aside#menu-movil.abajo nav a {width: auto; height: auto; margin: 0 27px 0px 0px; top: 23px; left: 105vh;  position: relative; color: #ffffff; font-style: normal; font-weight: 500; text-decoration: none; transition: 0.7s;}
aside#menu-movil.abajo nav a :hover {opacity: 0.7; transition: all 0.2s ease-out; transition: 0.7s;}
aside#menu-movil.abajo img {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: block;}


main section#atras_hero { position: relative; width: 100%; height: 10vh; background: #ffff;}

main { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }

main section#titu {width: 100%; height: 100vh; position: relative; z-index: 999;
}
main section#titu article {width: 100%; height: 100%; position: relative;
}
main section#titu article img {width: 100%; height: 100%; position: absolute; z-index: auto; display: block; margin: auto;
}
main section#titu article h1 { width: 46%; height: 9%; position: relative; font-size: 4em; font-weight: 500; color: #ffffff; z-index: 10; top: 10%; left: 8%; filter: drop-shadow(0.5px 0.5px 0.1px black);
}

/*
width: 31%; height: 9%; position: relative; font-size: 3em; font-weight: 500; color: #ffffff; z-index: 10; top: 10%; left: 10%; filter: drop-shadow(1px 1px 1px black);

position: relative; z-index: 10; border: solid 1px transparent; text-decoration: none; border-radius: 8px; padding: 1vh 3vh; background: #0000008c; color: white; top: 11%; left: 11%; margin: 10px;
}*/

main section#titu article hr { width: 35%; height: 60px; position: relative; float: none; border-radius: 10px; background: #0000008c; z-index: 9; margin-inline-start: 0px; margin-inline-end: 0px; top: 0%; left: 7%;;
}
main section#titu article a { position: relative; z-index: 10; border: solid 1px transparent; text-decoration: none; border-radius: 8px; padding: 1vh 3vh; background: #00000085; color: white; top: 68%; left: 6%; margin: 10px;;
}



main section#lec-1 {width: 100%; height: 85vh; position: relative; z-index: 999; margin: 0px auto 0px; background: white;}
main section#lec-1 img#image{ width: 40%; height: 100%; position: absolute; top: 0%; left: 5%; border-radius: 1px; animation-name: cambio1;
}
main section#lec-1 article#misi {width: 47%; height: 62%; margin-left: 49%; position: relative; top: 22%; background: white; border: solid white; filter: drop-shadow(1px 1px 1px black); animation-name: cambio2;
}
main section#lec-1 article#misi h1 {width: 70%; height: auto; text-align-last: left; margin: auto; font-size: 2em; font-style: normal; font-weight: 500; padding: 5px 0 13px; color: #333;
}
main section#lec-1 article#misi p { width: 70%; height: 65%; text-align-last: left; margin: auto; line-height: 165%;
}

@keyframes cambio1 {
    0%{width: 40%; height: 100%; position: absolute; top: 0%; left: 5%; border-radius: 1px;
    }
    100%{width: 39%; height: 90%; position: absolute; top: 3%; left: 10%; border-radius: 40px;
    }
}

@keyframes cambio2 {
    0%{width: 47%; height: 62%; margin-left: 49%; position: relative; top: 22%; background: white; border: solid white; filter: drop-shadow(1px 1px 1px black);
    }
    100%{width: 43%; height: 49%; margin-left: 45%; position: relative; top: 24%; background: white; border: solid white; filter: drop-shadow(1px 1px 1px black);
    }
}

main section#lec-2 {width: 100%; height: 85vh; position: relative; z-index: 999; background: cornsilk; margin: 0px auto 0px;
}
main section#lec-2 img{ width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; border-radius: 1px ; 
}
main section#lec-2 article#visi {width: 47%; height: 62%; margin-left: 30%; position: relative; top: 22%; border: solid transparent; color: white; filter: drop-shadow(1px 1px 1px black) ;     background: linear-gradient(120.05deg, rgba(60, 70, 143, 0.691717) 2.94%, rgba(60, 70, 143, 0.831145) 2.95%, rgb(60 70 143 / 79%) 20.54%, rgba(60, 70, 143, 0.849619) 68.92%, rgba(60, 70, 143, 0.583167) 86.52%); animation-name: cambio3; 
}
main section#lec-2 article#visi h1 {width: 70%; height: auto; text-align-last: left; margin: auto; font-size: 2em; font-style: normal; font-weight: 500; padding: 30px 0 13px;
}
main section#lec-2 article#visi p { width: 70%; height: 65%; text-align-last: left; margin: auto; line-height: 165%;
}

@keyframes cambio3 {

    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(47.7%) translateY(24%);
    }

}


main section#lec-3 {width: 100%; height: 50vh; position: relative; z-index: 999; background: #ffffff; margin: 0px auto 0px;}
main section#lec-3 img { width: 36%; height: 100%;position: absolute;
}
main section#lec-3 article {width: 50%; height: 100%; color: #333;
}
main section#lec-3 article h1 { text-align-last: auto; font-size: 2em; font-style: normal; font-weight: 600; margin: auto; position: relative; top: 9%; left: 100%;
}
main section#lec-3 article p { width: 70%; height: auto; margin: auto; text-align-last: left; position: relative; left: 77%; top: 14%;
}


main section#final {position: relative; width: 100%; height: 33vh; left: 0; top: 0px; 
    background: #3c468f;}
    main section#final article {width: 100%; height: 50%; position: relative; }
    main section#final article a {padding: 0 2px 0 13vh; position: relative; top: 50%; left: 175px; text-decoration: none; color: #ffffff; font-size: 1em; font-weight: 400;}
    main section#final article hr {width: 84%; height: 1px; position: relative; margin: 0 auto 24px; float: none; border: none; background: rgb(255, 255, 255); opacity: 0.5; top: 129%;}
    main section#final article p {padding: 0 2px 0 7vh; position: relative; top: 127%; left: 0px; text-decoration: none; color: #ffffff; font-size: 0.8em; font-weight: 300;}


@media only screen and (max-width: 499px) {


h1, h2, h3, h4, h5, h6, p, a, span, strong, div, form, select, option, textarea, button {
    font-family: 'Montserrat', sans-serif; }
        
        header, main, footer, aside, nav, figure, figcaption, article { display: block;}
        
        h1, h2, h3, h4, h5, h6, p {margin: 0; }
        
        body { margin: 0 !important;}
    
    html {scroll-behavior: smooth;}


header {width: 100%; height: 8%; position: fixed; top: 0; left: 0; z-index: 999; margin: 0; float: none; background: #ffffff; }
    header a {  width: 40%; height: 70%; display: block; position: relative; 
    margin: 11px 0 11px 15px; float: left; transition: all 0.3s ease-out; }
    header a img { width: 100%; height: 100%; display: block; }
    header a img#vec { display: none; }
    header a :hover {opacity: 0.7; transition: all 0.3s ease-out; }



    aside#menu-movil { width: 50%; height: 30%; position: fixed; top: 0; right: -50%; z-index: 9999; margin: 0; float: none; background: rgb(51, 51, 51, 0.95); 
    }
    aside#menu-movil a#abrir { width: 36px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 15px; left: -50px; z-index: 99; background: #ffffff; text-align: center; color: #000000; font-size: 1em; padding: 8.5px 0; transition: all 0.3s ease-out;}
    aside#menu-movil a#abrir :hover { background: #fff; color: #222; transition: all 0.3s ease-out;}
    
    aside#menu-movil a#cerrar {width: 36px; height: auto; display: none; margin: 0; float: none; position: absolute; top: 0px; left: 0px; z-index: 4; background: #222; text-align: center; color: #fff; font-size: 1em; padding: 8.5px 0; transition: all 0.3s ease-out; }
    aside#menu-movil a#cerrar :hover {background: #fff; color: #222; transition: all 0.3s ease-out; }
    
    aside#menu-movil nav { width: 70%; height: auto; position: relative; margin: 6vh auto 0 auto; float: none; top: auto; left: auto; padding: 0; background: none;
    }
    aside#menu-movil nav a { width: 100%; height: auto; display: block; margin: 0 auto 5vh; color: #fff; text-decoration: none; font-size: 1em; line-height: 1em; text-align: left; font-weight: 500; letter-spacing: 0.055em; transition: all 0.3s ease-out; top: auto; left: auto;}
    aside#menu-movil nav a:hover { color: #6ACF3A; transition: all 0.2s ease-out; }
    
    
    aside#menu-movil.abajo { width: 50%; height: 30%; position: fixed; top: 0; right: -50%; z-index: 9999; margin: 0; float: none; background: rgb(51, 51, 51, 0.95);;
    }
    aside#menu-movil.abajo nav { width: 70%; height: auto; position: relative; margin: 6vh auto 0 auto; float: none; top: auto; left: auto; padding: 0; background: none; 
    }
    aside#menu-movil.abajo nav a {width: 100%; height: auto; display: block; margin: 0 auto 5vh; color: #fff; text-decoration: none; font-size: 1em; line-height: 1em; text-align: left; font-weight: 500; letter-spacing: 0.055em; transition: all 0.3s ease-out; top: auto; left: auto; position: relative; 
    }
    aside#menu-movil.abajo nav a :hover {color: #6ACF3A; opacity: 0.7; transition: all 0.2s ease-out; transition: 0.2s;
    }
    aside#menu-movil.abajo img {width: 22%; height: 10%; position: fixed; top: 0px; left: 0px; display: none;}

main section#atras_hero { position: relative; width: 100%; height: 10vh; background: #ffff;}

main { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }

main section#titu {width: 100%; height: 90vh; position: relative; z-index: 9;
}
main section#titu article {width: 100%; height: 80%; position: relative;
}
main section#titu article img {width: 100%; height: 100%; position: absolute; z-index: 9; display: block; margin: auto;
}
main section#titu article h1 { width: 46%; height: 9%; position: relative; font-size: 2.8em; font-weight: 600; color: #ffffff; z-index: 9; top: 2%; left: 5%; filter: drop-shadow(0.5px 0.5px 0.1px black);
}

/*main section#titu article hr { width: 35%; height: 60px; position: relative; float: none; border-radius: 10px; background: #0000008c; z-index: 9; margin-inline-start: 0px; margin-inline-end: 0px; top: 0%; left: 7%;
}*/

main section#titu article a { position: relative; z-index: 9; border: solid 1px transparent; text-decoration: none; border-radius: 8px; padding: 1vh 3vh; background: #00000085; color: white; top: 75%; left: 6%; margin: 10px; font-weight: 600;
}

main section#titu a#flecha { position: relative; top: -6%; left: 39%; z-index: 9; 
}
main section#titu a#flecha img#flechabajo { width: 20%; transition: all 0.3s ease-out; animation-name: anima-flecha-abajo;
animation-duration: 3s; animation-play-state: running; animation-direction: normal;
animation-iteration-count: infinite; animation-timing-function: ease-out;
}

@keyframes anima-flecha-abajo {
    0% {margin: 10vh  auto 0 auto;}
    50% {margin: 13vh auto 0 auto; }
    100% {margin: 10vh auto 0 auto; }
}



main section#lec-1 {width: 100%; height: 90vh; position: relative; z-index: 9; margin: 0px auto 0px; background: white;}
main section#lec-1 img#image{ width: 90%; height: 40%; position: absolute; top: 0%; left: 0%; border-radius: 1px; animation-name: cambio1;
}
main section#lec-1 article#misi {width: 92%; height: 52%; margin-left: 3%; position: relative; top: 52%; background: white; border: solid white; filter: drop-shadow(1px 1px 1px black); animation-name: cambio2;
}
main section#lec-1 article#misi h1 {width: 70%; height: auto; text-align-last: left; margin: auto; font-size: 1.8em; font-style: normal; font-weight: 500; padding: 5px 0 13px; color: #333;
}
main section#lec-1 article#misi p { width: 70%; height: 48%; text-align-last: left; margin: auto; line-height: 165%; font-size: 0.93em;
}

@keyframes cambio1 {
    0%{width: 90%; height: 40%; position: absolute; top: 0%; left: 0%; border-radius: 1px;
    }
    100%{width: 100%; height: 50%; position: absolute; top: 0%; left: 0%; border-radius: 1px;
    }
}

@keyframes cambio2 {
    0%{width: 92%; height: 52%; margin-left: 3%; position: relative; top: 52%; background: white; border: solid white; filter: drop-shadow(1px 1px 1px black);
    }
    100%{width: 92%; height: 52%; margin-left: 3%; position: relative; top: 43%; background: white; border: solid white; filter: drop-shadow(1px 1px 1px black);
    }
}

main section#lec-2 {width: 100%; height: 85vh; position: relative; z-index: 9; background: cornsilk; margin: 0px auto 0px;
}
main section#lec-2 img{ width: 85%; height: 60%; position: absolute; top: 0%; left: 0%; border-radius: 1px ; animation-name: cambio3;
}
main section#lec-2 article#visi {width: 90%; height: 58%; margin-left: 4%; position: relative; top: 22%; border: solid transparent; color: white; filter: drop-shadow(1px 1px 1px black) ;     background: linear-gradient(120.05deg, rgba(60, 70, 143, 0.691717) 2.94%, rgba(60, 70, 143, 0.831145) 2.95%, rgb(60 70 143 / 79%) 20.54%, rgba(60, 70, 143, 0.849619) 68.92%, rgba(60, 70, 143, 0.583167) 86.52%); animation-name: cambio4; 
}
main section#lec-2 article#visi h1 {width: 70%; height: auto; text-align-last: left; margin: auto; font-size: 2em; font-style: normal; font-weight: 500; padding: 30px 0 13px;
}
main section#lec-2 article#visi p { width: 70%; height: 65%; text-align-last: left; margin: auto; line-height: 165%;
}


@keyframes cambio3 {

    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(35%);
    }
}

@keyframes cambio4 {

    0%{
        width: 85%; height: 60%; position: absolute; top: 0%; left: 0%; border-radius: 1px ;
    }
    100%{
        width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; border-radius: 1px ;
    }
}


main section#lec-3 {width: 100%; height: 90vh; position: relative; z-index: 9; background: #ffffff; margin: 0px auto 0px;}
main section#lec-3 img { width: 100%; height: 50%;position: absolute;
}
main section#lec-3 article {width: 100%; height: 50%; color: #333; position: relative; top: 51%;
}
main section#lec-3 article h1 { text-align-last: left; font-size: 1.8em; font-style: normal; font-weight: 600; margin: auto; position: relative; top: 0%; left: 0%; width: 77%;
}
main section#lec-3 article p { width: 77%; height: auto; margin: auto; text-align-last: left; position: relative; left: 0%; top: 0%;
}


main section#final {position: relative; width: 100%; height: 268px; left: 0; top: 0px; 
    background: #3C468F;}
    main section#final article {width: 100%; height: 50%; position: relative; 
    }
    main section#final article a#acc {padding: 0 0 0 0; position: relative; top: 44%; left: 20%; text-decoration: none; color: #ffffff; font-size: 0.8em ;
    }
    main section#final article a#pp {padding: 0 0 0 0; position: relative; top: 44%; left: 24%; text-decoration: none; color: #ffffff; font-size: 0.8em ;
    }
    main section#final article a#tu {padding: 0 0 0 0; position: relative; top: 75%; left: -31%; text-decoration: none; color: #ffffff; font-size: 0.8em ;
    }
    main section#final article a#ayu {padding: 0 0 0 0; position: relative; top: 75%; left: -26%; text-decoration: none; color: #ffffff; font-size: 0.8em ;
    }
    main section#final article hr {width: 84%; height: 1px; position: relative; margin: 0 auto 24px; float: none; border: none; background: rgb(255, 255, 255); opacity: 0.5; top: 130%;
    }
    main section#final article p {padding: 0 2px 0 7%; position: relative; top: 140%; left: 0px; text-decoration: none; color: #ffffff; font-size: 0.7em;
    }
}